<!DOCTYPE html>
<html lang="en">

{{>headerLinks}}

<body>
     {{>navbar}}

    <!-- // main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
                <div class="row">

                    <!-- left side div -->
                    <div class="col-md-14 c0l-12 main_header_left align-items-center">
                        <figure class="errimg"><img src="images/404.jpg" alt="anu" class="img-fluid" title="anushka gujar"></figure>
                                <p>Welcome to Anushka's app</p>
                        <h1>{{erroeMsg}}</h1>
                        <a href="/" target="Anushka"><button>Go Back</button></a>
                    </div>
                 
           
                </div>

            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <p>Created with 💙 by Anushka Gujar</p>
    </footer>
</body>

</html>