<!DOCTYPE html>
<html lang="en">

{{>headerLinks}}

<body>
     {{>navbar}}

    <!-- // main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left side div -->
                    <div class="col-md-6 c0l-12 main_header_right">
                        <figure><img src="images/about.png" alt="anu" class="img-fluid" title="anushka gujar"></figure>
                               </div>
                                  <!-- right side div -->
                    <div class="col-md-6 c0l-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am A <span class="text_clr">Full Stack Developer</span>  My Name is Anushka Gujar</h1>
                        <a href="https://www.linkedin.com/in/anushka-gujar-610bb7220" target="Anushka"><button>About me</button></a>
                    </div>
                 
           
                </div>

            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <p>Created with 💙 by Anushka Gujar</p>
    </footer>
</body>

</html>